div {
	background-color: blue;
	border-radius: 10px;
	float: left;
	width: 200px;
	height: 200px;
}
#lisa_kandidaat {
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: 300px;
	margin-right: 30px;
}

#hääletus{
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
#tulemused{
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 200px;
}

h1 {
	text-align: center;
}
button {
	margin: 5px;
}
form {
	margin-left: 400px;
	float: left;
}
#otsing {
	float: left;
	width: 15px;
	height: 15px;
}













